<div class="example-container" [class.dark]="dark" fxLayout="column" fxFlexFill>
  <mat-toolbar color="primary" class="example-toolbar elevation4">
    <button mat-icon-button 
      (panleft)="snav.toggle()"
      (panright)="snav.toggle()"
      (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{name}}</h1>

    <span class="example-spacer"></span>
    <!-- <a mat-icon-button href="https://paypal.me/quemao18" target="_blank"><mat-icon>fastfood</mat-icon></a> -->
    <!-- <a mat-icon-button href="https://paypal.me/quemao18" target="_blank">
      <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-mark-color.svg" alt="PayPal">
    </a> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>translate</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button (click)="changeLang(lang)" *ngFor="let lang of translate.getLangs()" mat-menu-item>
        <span>{{lang | uppercase }}</span>
        <mat-icon *ngIf="lang==translate.currentLang">check</mat-icon>
      </button>
    </mat-menu>
    <button mat-icon-button (click)="dark=!dark">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Change theme">{{dark ?
        'wb_sunny':'nights_stay'}}</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav [opened]="mobileQuery.matches ? 'false' : 'true'"
      style="width:180px;padding: 10px; text-align: center;" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [style.marginTop.px]="mobileQuery.matches ? 0 : 0" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a (click)="mobileQuery.matches ? snav.close() : ''" mat-list-item routerLinkActive="active" routerLink="/home"
          href="#">{{ 'HOME.INFO' | translate }}</a>
        <a (click)="mobileQuery.matches ? snav.close() : ''" mat-list-item routerLinkActive="active"
          routerLink="/sag/front" href="#">{{ 'SAG.FRONT' | translate }}</a>
        <a (click)="mobileQuery.matches ? snav.close() : ''" mat-list-item routerLinkActive="active"
          routerLink="/sag/rear" href="#">{{ 'SAG.REAR' | translate }}</a>
        <footer class="footer2 ">
          <a href="https://paypal.me/quemao18" target="_blank">
            <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-color.svg" alt="PayPal">
          </a>
          <br>
          By <a [style.color]="dark? 'white':''" target="blank" href="https://github.com/quemao18">&#64;quemao18</a>
        </footer>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fullscreen>

      <!-- Add Content Here -->
      <div class="container">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>