<div [@animate] fxLayout="row" class="center" >
    <mat-card class="example-card">
        <mat-card-content>
            <p>
                <b>Política de privacidad de Acertech, C.A.</b>
                <br>
                Esta Política de privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita o hace una compra en https://moto-sag.web.app (denominado en lo sucesivo el “Sitio”).
                <br>
                INFORMACIÓN PERSONAL QUE RECOPILAMOS <br>
                No recopilamos ningun tipo de información personal.
                <br>
                ¿CÓMO UTILIZAMOS SU INFORMACIÓN PERSONAL? <br>
                No utilizamos ninguna información personal.
                <br>
                NO RASTREAR <br>
                Tenga en cuenta que no alteramos las prácticas de recopilación y uso de datos de nuestro Sitio cuando vemos una señal de No rastrear desde su navegador.
                <br>
                SUS DERECHOS <br>
                Si usted es un residente europeo, tiene derecho a acceder a la información personal que tenemos sobre usted y a solicitar que su información personal sea corregida, actualizada o eliminada. Si desea ejercer este derecho, comuníquese con nosotros a través de la información de contacto que se encuentra a continuación.
                Además, si usted es un residente europeo, tenemos en cuenta que estamos procesando su información para cumplir con los contratos que podamos tener con usted (por ejemplo, si realiza un pedido a través del Sitio) o para perseguir nuestros intereses comerciales legítimos enumerados anteriormente.  Además, tenga en cuenta que su información se transferirá fuera de Europa, incluidos Canadá y los Estados Unidos.
                <br>
                RETENCIÓN DE DATOS <br>
                No retenemos ningun tipo de información personal.
                <br>
                CAMBIOS <br>
                Podemos actualizar esta política de privacidad periódicamente para reflejar, por ejemplo, cambios en nuestras prácticas o por otros motivos operativos, legales o reglamentarios.
                <br>
                CONTÁCTENOS <br>
                Para obtener más información sobre nuestras prácticas de privacidad, si tiene alguna pregunta o si desea presentar una queja, contáctenos por correo electrónico a alejandro.toba@gmail.com o por correo mediante el uso de la información que se proporciona a continuación:
                <br>
                Caracas, CARACAS, VE-A, 1204, Venezuela
            </p>
        </mat-card-content>
    </mat-card>
</div>
                